# Node
node_modules/
npm-debug.log*

# Build
dist/
build/

# VS Code
.vscode/

# Environment
.env

# Logs
*.log

# OS Files
Thumbs.db
.DS_Store

# Python
__pycache__/
*.pyc

# Electron
out/
release/

# React
coverage/

# Misc
*.tmp