.activity-bar{
    width:60px;
    background:#252526;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:15px;
    border-right:1px solid #333;
}

.activity-icon{
    width:42px;
    height:42px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#c5c5c5;
    margin-bottom:10px;
    cursor:pointer;
    border-radius:8px;
}

.activity-icon:hover{
    background:#3a3d41;
    color:white;
}