.editor{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:#1e1e1e;
    color:white;
}

.editor p{
    color:#9d9d9d;
    margin-top:10px;
}